* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow-x: hidden;
}

.Question {
    background-image: url('../../assets/question/ChemClick_Background_Faded.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.questionheader {
    width: 1400px;
    height: 100px;
    background-image: url('../../assets/question/RainbowBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00D5D7;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    border-radius: 15px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(1, 87, 112, 0.5);

}

.insideheader {
    width: 500px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 900px;
}

.insideheader h1 {
    font-size: 2rem;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    position: absolute;
    left: 7%;
}

.ChemClickLogoHeader {
    position: absolute;
    width: 55px;
    left: 2.75%;
    top: 22%;
}

.homelines {
    position: absolute;
    width: 60px;
    right: 2%;
    top: 22%;
    cursor: pointer;
}

.questionbox {
    position: absolute;
    top: 130px;
    left: calc((100vw - 1366px) / 2 - 20px);
    width: 1000px;
    height: 535px;
    background-color: #00D5D7;
    border-radius: 15px;
    border: 5px solid #ffffff;
    align-items: center;
    margin: 0 auto;
    justify-content: flex-start;
    padding: 10px;
    background-image: url('../../assets/question/RainbowBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(1, 87, 112, 0.5);


}

.element {
    position: absolute;
    width: 200px;
    height: auto;
    top: 38.5%;
    left: 40%;
}

.questionboxtitle {
    width: 950px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;

}

.questionboxtitle h1 {
    font-size: 2.25rem;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    position: absolute;
    text-align: center;
}

.questionboxquestion {
    width: 950px;
    height: 390px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;
    margin-top: 10px;
}

.questionboxquestion::before {
    content: '';
    position: absolute;
    top: 185px;
    background-color: #015770;
    width: 95%;
    height: 5px;


}

.questionboxquestion::after {
    content: '';
    position: absolute;
    top: 440px;
    background-color: #015770;
    width: 95%;
    height: 5px;

}

.questionboxquestion h1 {
    font-size: 2.25rem;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    position: absolute;
    text-align: center;
    position: absolute;
    top: 26%;

}

.questionboxanswer h1 {
    font-size: 2.25rem;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    position: absolute;
    text-align: center;
    position: absolute;
    top: 87%;
    left: 4.5%;
}

.elemententered {
    width: 37%;
    height: 40px;
    margin-top: 320px;
    margin-left: 555px;
    border-radius: 15px;
    border: 2px solid #015770;
    background-color: #e7eae2;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Orelega One', sans-serif;
}

.masterybox {
    position: absolute;
    top: 130px;
    right: calc((100vw - 1366px) / 2 - 20px);
    width: 380px;
    height: 185px;
    padding: 10px;
    background-color: #00D5D7;
    border-radius: 15px;
    border: 5px solid #ffffff;
    align-items: center;
    margin: 0 auto;
    justify-content: flex-start;
    background-image: url('../../assets/question/RainbowBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(1, 87, 112, 0.5);

}

.masteryboxtitle {
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75px;

}

.masteryboxtitle h1 {
    font-size: 2.25rem;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    position: absolute;
    text-align: center;
}

.masteryboxstars {
    width: 330px;
    height: 85px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;
    margin-top: 10px;
}

.masterystars {
    width: 300px;
}

.goalbox {
    position: absolute;
    top: 340px;
    right: calc((100vw - 1366px) / 2 - 20px);
    width: 380px;
    height: 185px;
    padding: 10px;
    background-color: #00D5D7;
    border-radius: 15px;
    border: 5px solid #ffffff;
    background-image: url('../../assets/question/RainbowBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(1, 87, 112, 0.5);
}

.goalboxtitle {
    width: 150px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;

}

.goalboxtitle h1 {
    font-size: 2.25rem;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    position: absolute;
    text-align: center;
}

.goalboxchecks {
    width: 330px;
    height: 85px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;
    margin-top: 10px;
}

.goalchecks {
    width: 300px;
}

.progressbox {
    position: absolute;
    top: 550px;
    right: calc((100vw - 1366px) / 2 - 20px);
    width: 380px;
    height: 185px;
    padding: 10px;
    background-color: #00D5D7;
    border-radius: 8px;
    border: 5px solid #ffffff;
    background-image: url('../../assets/question/RainbowBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(1, 87, 112, 0.5);
    border-radius: 15px;

}

.progressboxtitle {
    width: 220px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px;

}

.progressboxtitle h1 {
    font-size: 2.25rem;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    position: absolute;
    text-align: center;
}

.progressboxtitle h2 {
    font-size: 1.25rem;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    position: absolute;
    text-align: center;
    top: 77%
}

.progressboxbar {
    width: 330px;
    height: 85px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #015770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;
    margin-top: 10px;
}

.progressbar {
    width: 300px;
    position: absolute;
    top: 57%;
}

.submitbutton {
    position: absolute;
    background-color: #E3F0CC;
    border: 5px solid #237B31;
    border-radius: 15px;
    width: 300px;
    height: 65px;
    left: 355px;
    top: 540px;
    font-family: 'Orelega One', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    box-shadow: 0 4px 10px rgba(1, 87, 112, 0.5);

}


.submitbutton:active {
    background-color: #98c844;
    cursor: pointer;
}