@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.logout-body {
    background-image: url('../../assets/logout/ChemClickBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 80vw;
    padding: 4%;
    background: #00D5D7;
    border-radius: 25px;
}

.logout-main-container {
    display: flex;
    height: 55vh;
    width: 80vw;
    border: 1vh solid #015770;
    border-radius: 2vh;
    background: white;
    background-image: url('../../assets/home/homebg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.logout-main-item {
    display: flex;
    width: 38vw;
    height: 40vh;
    padding: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoutTitle {
    font-size: clamp(2rem, 7.5vw, 10rem);
    color: #015770;
    text-align: center;
    font-family: 'Orelega One', cursive;
    font-weight: bold;
    padding-left: 1vw;
}

#logoutMenuOptions {
    width: 36vw;
    height: 55vh;
    padding-left: 8%;
}

.logout-menu-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    border: 1vh solid #015770;
    border-radius: 2vh;
    align-items: center;
    justify-content: space-around;
    background-color: #00D5D7;
}

.logout-logo-wrapper {
    background-color: white;
    border: 1vh solid #015770;
    border-radius: 2vh;
    padding: 15px;
    padding-bottom: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
}

.logout-logo {
    width: clamp(35px, 20vw, 200px);
    height: auto;
    max-width: 100%;
    padding-left: 5%;
    display: block;
    margin: 0 auto;
}

.logout-message {
    font-family: 'Orelega One', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #015770;
}

.logout-button {
    font-family: 'Orelega One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    color: #fff;
    background: #2C2C2C;
    font-size: 2vw;
    font-weight: 700;
    cursor: pointer;
    border-radius: 30px;
    margin-top: -22px;
}

.logout-button:hover {
    background: #1a1a1a;
}

.logout-title-text {
    text-align: center;
    font-size: clamp(2rem, 7.5vw, 10rem);
    color: #015770;
    font-family: 'Orelega One', cursive;
    font-weight: bold;
    transform: translateX(45px);
}
