@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    overflow-x: hidden; 
}

.Login {
    background-image: url('../../assets/login/ChemClick_Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100vw; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}

.login-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* margin-top: 200px; */
    background-image: url('../../assets/login/loginbg.png');
    background-color: white;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    width: 90%;             
    max-width: 700px;        
    padding: 40px;           
    max-height: 700px;       
    height: auto;            
    border-radius: 30px;
    border: 6px solid #003f52;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
      
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 9px; */
    width: 100%;
    /* margin-top: 0px; */

}

.login-profile-logo{
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.login-inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.login-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 40px;
    border: 4px solid #015770;
}

.login-input input{
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 40px;
}

.login-input-box{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    border: 4px solid #015770;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    height: 450px;    
    width: 100%;  
}

.login-Student-ID, .login-Password{
    font-family: 'Orelega One', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 20x solid #015770;
    margin-left: 30px;
}

.options{
    color: gray;
    cursor: pointer;
}

.forgot-password, .create-account {
    margin-top: 5px;
}

.submit-container{
    display:flex;
    gap: 30px;
    margin: 20px auto;
}

.submit{
    font-family: 'Orelega One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 50px;
    color: #fff;
    background: #2C2C2C;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 20px;
}