.student-progress-wrapper {
    width: 100%;
    height: 225px;
    display: block;
    justify-content: space-evenly;
    margin: auto;
    padding: 12px;
}
.student-progress-started {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    padding: 12px;
}
.student-progress-not-started {
    display: flex;
    align-items: left; 
    justify-content: flex-start;
    margin: auto;
    padding: 12px;
}
.student-progress-finished {
    display: flex;
    align-items: right;
    justify-content: flex-start;
    margin: auto;
    padding: 12px;
}

.student-progress-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 59px;
    background: lightgreen;
    border-style:solid;
    border-color: green;
    cursor: pointer;
    border-radius: 30px ;
    margin-top: 5px;
    transition: background 0.3s ease;
}

.student-progress-button:hover {
    background: rgb(43, 178, 43); /* Change to the desired hover color */
}

.student-progress-button p {
    font-family: 'Orelega One', cursive;
    font-weight: normal;
    color: black;
    font-size: 1.5rem;
}
