* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    overflow-x: hidden; 
}

.congrats-container {
    background-image: url('../../assets/congrats/CCFadedCongrats.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100vw; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 

    align-items: center;
    justify-content: center;
}

.congrats-center-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
    border: 1vh solid #015770;
    border-radius: 2vh;
    background: linear-gradient(135deg, #ffffff, #e0f7fa);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2vh;
    color: #015770;
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.ribbon-award {
    width: clamp(70px, 11vw, 130px);
    height: auto;
    max-width: 100%;
    display: block;  
    margin: 0 auto;
}

.congrats-text {
    text-align: center;
    font-family: 'Orelega One', cursive;
}

.congrats-title {
    font-size: clamp(2rem, 7.5vw, 2.5rem); 
    font-weight: bold; 
    color: #015770; 
    text-align: center; 
    border-radius: 5px;
    font-family: 'Orelega One', cursive;
}
.award-button {
    font-family: 'Orelega One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;

    color: #FFFFFF;
    background: #2C2C2C;
    font-size: 2vw;
    font-weight: 700;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.award-button:hover {
    background: #4A4A4A;
    transform: scale(1.05);
}

.award-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}