@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.main-header {
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-container {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    background-color: #00D5D7; 
    border-radius: 25px;
    overflow: hidden;
}

.inner-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/profile/headertopbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    border-radius: 25px; 
    z-index: 0; 
}

.inner-container > * {
    position: relative;
    z-index: 1;
}

.profile-picture{
    position: absolute;
    top: 50%;
    left: calc(300px + 100px);
    transform: translateY(-50%);
    z-index: 2;
    border: 5px solid #015770;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.logo-container {
    width: 500px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px; 
    box-shadow: 0 8px 15px rgba(1, 87, 112, 0.8); 
    display: flex;
    align-items: center;
    border: 5px solid #015770; /* 5 OR 4 LOOKS GOOD */
    position: relative;
}

.logo{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    cursor: pointer;
}

.profile-title {
    font-family: 'Orelega One', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    margin-right: 70px;
}

.profile-menu {
    display: flex;
    align-items: center;
}
   
.menu-icon {
    font-size: 2rem;
    color: #333;
}

.menu-bar{
    background-image: url('../../assets/profile/menubar.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 3;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #e5ffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    cursor: pointer;
}

.dropdown-content ul {
    font-family: 'Orelega One', cursive;
    font-size: 1.2rem;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

.sub-title {
    font-family: 'Orelega One', cursive;
    font-size: 1.5rem;
    color: black;
}

.history-container {
    position: relative; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 20px 25px;
    height: 200px;
    border-radius: 25px; 
    box-shadow: 0 8px 15px rgba(1, 87, 112, 0.8);
    margin-inline: auto;
    border: 5px solid #015770;
}

.progress-container {
    position: relative; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 20px 25px;
    height: 200px;
    border-radius: 25px; 
    box-shadow: 0 8px 15px rgba(1, 87, 112, 0.8);
    margin-top: 20px;
    margin-inline: auto;
    border: 5px solid #015770;
}

.achievements-container {
    position: relative; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 20px 25px;
    height: 200px;
    border-radius: 25px; 
    box-shadow: 0 8px 15px rgba(1, 87, 112, 0.8);
    margin-top: 20px;
    margin-inline: auto;
    border: 5px solid #015770;
}