* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body,
html {
  height: 100%;
  overflow-x: hidden
}

.Profile,
.profileResultsContainer {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.Profile {
  font-family: "Orelega One";
  font-weight: 400;
  background-image: url(../../assets/profile/profilebg.png);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden
}

.profileResultsContainer {
  align-items: center;
  background-color: #00d5d7;
  border-radius: 20px;
  border-color: #fff;
  border-width: 5px;
  border-style: solid;
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  height: 575px;
  max-width: 1200px;
  box-shadow: 0 8px 20px rgba(1, 87, 112, .7);
  position: relative;
  background-image: url(../../assets/question/RainbowBackground.png);
  overflow-y: auto
}

.nameOfUnit,
.resultsTitle {
  font-family: "Orelega One";
  font-weight: 400;
  color: #000
}

.resultsTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  width: 250px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #015770;
  border-width: 5px;
  border-style: solid
}

.nameOfUnit {
  position: absolute;
  font-size: 1.6rem;
  margin-left: 60px
}

.listOfUnits {
  width: 100%
}

.individualUnits {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 11px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid #015770;
  border-width: 5px;
  border-style: solid
}

.clickOnUnit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Orelega One";
  font-size: 1.7rem;
  cursor: pointer;
  width: 100%;
  padding-left: 10px
}

.trianglesOC {
  font-family: "Orelega One";
  font-size: 2.5rem;
  color: #000;
  font-weight: 400;
  margin-right: 200px
}

.expandedColorBox {
  background-color: #00d5d7;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  position: relative;
  height: 250px;
  overflow-y: auto;
  min-height: fit-content;
  margin-bottom: 15px
}

.dateResultsExpandedTable,
.resultsExpandedTable {
  table-layout: fixed;
  background-color: #fff;
  border: 5px solid #fff;
  border-spacing: 7px
}

.resultsExpandedTable {
  width: 100%;
  font-family: "Orelega One";
  font-weight: 400;
  border-radius: 10px;
  padding: 5px
}

.dateResultsExpandedTable {
  margin-bottom: 10px;
  margin-top: 10px
}

.DateResultstableHeader,
.dateResultsExpandedTable,
.printResultsExpandedTable {
  border-radius: 10px;
  font-family: "Orelega One";
  font-weight: 400;
  width: 100%
}

.printResultsExpandedTable {
  table-layout: fixed;
  background-color: #fff;
  border: 5px solid #fff;
  border-spacing: 7px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
  background-image: url(../../assets/question/RainbowBackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.DateResultstableHeader {
  border: 2.5px solid #f67e6b;
  background-color: #ffe3e3;
  padding: 10px;
  font-size: 20px
}

.lessonResultstableCell,
.lessonResultstableHeader {
  border: 2.5px solid #f6b26b;
  border-radius: 10px;
  padding: 10px
}

.lessonResultstableHeader {
  background-color: #f8dec1;
  font-family: "Orelega One";
  font-weight: 400;
  font-size: 20px;
  width: 20%
}

.lessonResultstableCell {
  background-color: #fef4ea
}

.QAresultsTableCell,
.QAresultstableHeader {
  border: 2.5px solid #8db249;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px
}

.QAresultstableHeader {
  background-color: #e5ffb5;
  font-family: "Orelega One";
  font-weight: 400;
  font-size: 20px;
  width: 15%
}

.QAresultsTableCell {
  background-color: #f7ffe8;
  text-align: center
}

.timeResultsTableHeader {
  border: 2.5px solid #fbe358;
  font-family: "Orelega One";
  font-weight: 400;
  font-size: 20px;
  width: 11%;
  padding: 10px;
  background-color: #fff3b2;
  border-radius: 10px
}

.timeResultsTableCell {
  border: 2.5px solid #ffe766;
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #fffae0
}

.printButton {
  display: block;
  background-color: light;
  border: 5px solid #015770;
  border-radius: 15px;
  width: 310px;
  height: 65px;
  font-family: "Orelega One";
  font-weight: 400;
  font-size: 22px;
  margin: auto
}

.printButton:active {
  background-color: #d7d7d7;
  cursor: pointer
}