* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body,
html {
  height: 100%;
  overflow-x: hidden
}

.Profile {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.Profile {
  font-family: "Orelega One" ;
  font-weight: 400;
  background-image: url(../../assets/profile/profilebg.png);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden
}

