.statistics-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: Left;
    width: 100%; 
    max-width: 1200px; 
    padding: 10px;
    margin: 0 auto; 
    background-color: #00D5D7;
    border-radius: 10px;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 10px rgba(1, 87, 112, 0.8);
    top: 20px;
    min-height: 620px;
    max-height: 620px;
    overflow-y: auto; 
    overflow-x: hidden;
}

